<div class="container">
    <h3>Sign In</h3>
    <form #signinform="ngForm" (ngSubmit)="signin(signinform)">
        <div class="mb-3">
            <label for="email">Email</label>
            <input class="form-control" type="email" name="email" [(ngModel)]="signinForm.email">
        </div>
        <div class="mb-3">
            <label for="password">Password</label>
            <input class="form-control" type="password" name="password" [(ngModel)]="signinForm.password">
        </div>
        <button type="submit" class="btn btn-primary">Sign In</button>
    </form>
</div>